body {
    -webkit-touch-callout: none !important;
}
.ui-li .ui-btn-inner {
    font-size: 12.5px;
    padding: .35em 6px .3em;
}
.ui-li-divider {
    padding: .15em 5px;
}
.ui-li-divider .ui-btn-inner {
    font-size: 9px;
}
#files .ui-btn .ui-btn-inner {
    padding-right: 11px;
}
.progress {
    /*width: 100%;*/
}
.custom-progressbar {
    border: 1px solid gray;
    height: 10px;
    margin: 2px 0px;
}
.custom-progressbar-value {
    border: 1px solid gray;
    width: 10%;
    height: 10px;
    float: left;
    margin: -1px 0px 0px -1px;
}
.torrent a, .torrent .a {
    white-space: normal !important;
    font-size: .66em;
    padding-right: 56px !important;
}
.torrent span.status {
    white-space: nowrap !important;
    display: inline-block;
}
.torrent .status-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    top: 4px;
}
.torrent span.status em {
    color: gray;
}
/* -- COMPLETED -- */
.torrent.statusFinished .status-icon {
    background: transparent url('tstatus.png') no-repeat -112px 0px;
}
.torrent.statusFinished span.status {
    display: none !important;
}
.torrent.statusFinished div.progress {
    display: none !important;
}
/* -- DOWNLOADING -- */
.torrent.statusDownloading .status-icon {
    background: transparent url('tstatus.png') no-repeat 0px 0px;
}
/* -- UPLOADING -- */
.torrent.statusUploading .status-icon {
    background: transparent url('tstatus.png') no-repeat -16px 0px;
}
.torrent.statusUploading div.progress {
    display: none !important;
}
.torrent.statusUploading div.title {
    margin-bottom: 5px;
}
/* -- PAUSED -- */
.torrent.statusPaused .status-icon {
    background: transparent url('tstatus.png') no-repeat -48px 0px;
}
/* -- STOPPED -- */
.torrent.statusStopped .status-icon {
    background: transparent url('tstatus.png') no-repeat -32px 0px;
}
/* -- ERROR -- */
.torrent.statusErrored .status-icon {
    background: transparent url('tstatus.png') no-repeat -96px 0px;
}
/* -- QUEUE -- */
.torrent.statusQueued .status-icon {
    background: transparent url('tstatus.png') no-repeat -176px 0px;
}

#menu .ui-content .ui-btn {
    margin: 1em;
}

